.not-found-main {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.not-found {
  padding: 2rem;
  border-radius: 0.375rem;
  text-align: center;
}



.not-found > h2 {
  font-size: 1.875rem;
  font-weight: 700;
  color: #07d158;
  letter-spacing: 2px;
  height: 11rem;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: "Abel", "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS",
    sans-serif;
  letter-spacing: 2px;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3); /* Agregar sombreado al texto */

}

.not-found p {
  color: #020203;
  margin-bottom: 2rem;
}

.not-found button {
  display: inline-block;
  padding: 0.2rem 1.5rem;
  transition-property: transform;
  transition-duration: 0.3s;
  font-size: 1rem;
  font-weight: bold;
  color: #fff;
  background-color: rgb(19, 198, 40);
  border: none;
  border-radius: 1rem;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.not-found button:hover {
  background-color: #1cc61967;
  transform: scale(1.1);}
