.add-service {
  margin: 2rem auto;
  max-width: 600px;
  padding: 2rem;
  background-color: rgba(255, 255, 255, 0.5); /* Fondo más transparente */
  border-radius: 2.5rem;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.add-service h2 {
  font-size: 2.5rem;
  font-weight: bold;
  text-align: center;
  margin-bottom: 2rem;
  font-family: "Abel", "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS",
    sans-serif;
  letter-spacing: 2px;
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-image: linear-gradient(to bottom right, #1a7b28, #50a557); /* Agregar degradado al texto */
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3); /* Agregar sombreado al texto */
}

.add-service form {
  margin-bottom: 2rem;
}

.add-service label {
  display: block;
  margin-bottom: 0.5rem;
  font-weight: bold;
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-image: linear-gradient(to bottom right, #1a7b28, #50a557); /* Agregar degradado al texto */
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.3); /* Agregar sombreado al texto */
}

.add-service input,
.add-service textarea,
.add-service select {
  width: 100%;
  padding: 0.75rem;
  font-size: 1rem;
  color: #000;
  background-color: rgba(201, 244, 190, 0.303); /* Fondo más transparente */
  border: 1px solid #e2f0e5;
  border-radius: 0.25rem;
  transition: border-color 0.3s ease;
}

.add-service input:focus,
.add-service textarea:focus,
.add-service select:focus {
  outline: none;
  border-color: #01f65b;
}

.add-service select {
  appearance: none;
}

.add-service button {
  display: inline-block;
  padding: 0.2rem 1.5rem;
  transition-property: transform;
  transition-duration: 0.3s;
  font-size: 1rem;
  font-weight: bold;
  color: #fff;
  background-color: rgb(19, 198, 40);
  border: none;
  border-radius: 1rem;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.add-service button:hover {
  background-color: #1cc61967;
  transform: scale(1.1);
}

.submit-button {
  margin-top: 1rem;
  margin-left: 24rem; /* Alinear el botón a la derecha */
}

@media (max-width: 576px) {
  .add-service button {
  margin-left: 1rem; /* Alinear el botón a la derecha */

}

}



